# rename this file to credentials.py and replace the value below with valid keys
# head over to twitter's website to get them

APP_CONSUMER_KEY = "uhf8sHJFfsajk88sdfsfa"
APP_CONSUMER_SECRET = "JUF7sdf32sdFde987Fdsoifd32884saFasfoij7f"
OAUTH_TOKEN = "2349854243-sgUfdAfeoiusdA83Fdsihfurs3sdfi883aFdfa9"
OAUTH_TOKEN_SECRET = "dufbvSAf792fssf4344Ffdjks8FJFe832Fdsihus49"
